@use "../scss/colors";
@use "../scss/gradients";
@use "../scss/mixins" as *;

$bg-opacity: 0.035;

.red {
  background-color: rgba(colors.$red, $bg-opacity);

  & > .summary__category {
    color: colors.$red;
  }
}

.yellow {
  background-color: rgba(colors.$yellow, $bg-opacity);

  & > .summary__category {
    color: colors.$yellow;
  }
}

.green {
  background-color: rgba(colors.$green, $bg-opacity);

  & > .summary__category {
    color: colors.$green;
  }
}

.blue {
  background-color: rgba(colors.$blue, $bg-opacity);

  & > .summary__category {
    color: colors.$blue;
  }
}

.summary {
  padding: 1.5rem 1.75rem 2rem;

  @include mq-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: clamp(1.25rem, 0.64rem + 2.58vw, 1.5rem);
    font-weight: 700;
  }

  &__skills {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
    gap: 1rem;
  }

  &__skill {
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1.2rem;
  }

  &__category {
    font-weight: 700;
  }

  &__score {
    margin-left: auto;
    font-weight: 700;
    color: rgba(colors.$gray-blue, 0.7);

    &-achieved {
      font-weight: 800;
      color: colors.$gray-blue;
    }
  }

  &__button {
    cursor: pointer;
    position: relative;
    margin-top: 2.5rem;
    padding: 1rem;
    width: 100%;
    background: colors.$gray-blue linear-gradient(gradients.$slate-royal-blue)
      center no-repeat;
    background-size: 0;
    color: colors.$white;
    font-size: 1.35rem;
    border-radius: 100px;
    transition: background-size 0.4s ease-in-out;

    &:hover,
    &:focus {
      background-size: 100%;
    }
  }
}
