$red: hsl(0, 100%, 67%);
$yellow: hsl(39, 100%, 56%);
$green: hsl(166, 100%, 37%);
$blue: hsl(234, 85%, 45%);

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$lavender: hsl(241, 100%, 89%);
$gray-blue: hsl(224, 30%, 27%);
